<link rel="stylesheet" href="css.css">

  
 
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Gestion <b>Employés</b></h2>
					</div>
					<div class="col-sm-6">

						<a href="#addEmployeeModal" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal"><i class="material-icons">&#xE147;</i> <span>Ajouter un Employé</span></a>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						
                        <th>Nom</th>
                        <th>Username</th>
						<th>Password</th>
                        <th>Début de service</th>
                        <th>Fin de dervice</th>
                        <th>Profil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
						
                        <td>Thomas Hardy</td>
                        <td>thomashardy&#64;</td>
						<td>password</td>
                        <td>8AM</td>
                        <td>5PM</td>
                        <td>
                            <!-- Image ronde -->
                            <img src="votre-chemin-vers-l-image.jpg"  class="rounded-image">
                        </td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-bs-toggle="modal" data-bs-target="#editModal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
			<div class="clearfix">
                <div class="hint-text"> <b>5</b> sur <b>25</b> employés</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- Add Modal HTML -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Nouveau Employé</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Nom</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Username</label>
							<input type="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Password</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Heure Début</label>
							<input type="text" class="form-control" required>
						</div>
                        <div class="form-group">
							<label>Heure Fin</label>
							<input type="text" class="form-control" required>
						</div>	
                        <div class="form-group">
							<label>Joindre une photo de profil</label>
							<input type="file" name="image" accept="image/*" required>
						</div>							
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-success" value="Ajouter Employé">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Modifier Employé</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Nom</label>
							<input type="text" placeholder="Nom" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Username</label>
							<input type="email" placeholder="username" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Password</label>
							<textarea class="form-control" placeholder="password" required></textarea>
						</div>
						<div class="form-group">
							<label>Heure Début</label>
							<input type="text" placeholder="heure" class="form-control" required>
						</div>
                        <div class="form-group">
							<label>Heure Fin</label>
							<input type="text" placeholder="heure" class="form-control" required>
						</div>	
                        <div class="form-group">
							<label>Joindre une photo de profil</label>
							<input type="file" name="image" accept="image/*" required>
						</div>							
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-success" value="Enregister modifications">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Supprimer Employé</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">					
						<p>Etes-vous sure de vouloir supprimer cet employé ?</p>
						<p class="text-warning"><small>Cette action est irréversible.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-danger" value="Supprimer Employé">
					</div>
				</form>
			</div>
		</div>
	</div>

