<div class="slider-banner-area">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-8 col-md-12">
                <div class="slider-area res-mrg-md-mb">
                           <h1>Horaire de travail : <mark>{{heureDebut}}h - {{heureFin}}h </mark></h1>     
                           <br>                              
                                    <div class="form-group">
                                       
                                     <label for="cardNumber">Nom Complet</label>
                                     <input type="text" class="form-control" id="nom" placeholder="{{employe.nom}} {{employe.prenom}}" disabled>
                                   </div>
                                   <br>
                                   <div class="form-row">
                                     <div class="form-group col-md-6">
                                       <label for="expiryDate">Nom d'utilisateur</label>
                                       <input type="text" class="form-control" id="username" placeholder="{{employe.username}}" disabled>
                                     </div>
                                     <br>
                                                                        
                                     <div class="form-group col-md-6">
                                       <label for="cvv">Email</label>
                                       <input type="email" class="form-control" id="email" placeholder="{{employe.email}}" disabled>
                                     </div>
                                     <br>
                                   </div>
                                  <br>    <br>                
                                   <button calss="button" type="btn tbn-danger" data-bs-toggle="modal" data-bs-target="#ModalComplete">Modifier profil</button>
                                   
                                 
                                   
                   
                        
                        
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="single-banner mb-30">
                           <h1>Mon profil</h1>
                           <a href="#"><img src="assets/img/profil/emp.jpg"  alt=""></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


  <!-- Modal détails service -->
<div class="modal fade" id="ModalComplete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img src="assets/img/profil/emp.jpg" alt="">
                            </div>
                            
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                       
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2>Modification profil</h2>
                             <label for="cardNumber">Nom </label>
                                     <input type="text" class="form-control" id="nom" placeholder={{employe.nom}} disabled>
                                   </div>
                                   <br>
                                   <div class="form-row">
                                     <div class="form-group col-md-6">
                                       <label for="expiryDate">Prénom</label>
                                       <input type="text" class="form-control" id="username" placeholder={{employe.prenom}} disabled>
                                     </div>
                                     <br>
                                     <div class="form-group col-md-6">
                                       <label for="cvv">Email</label>
                                       <input type="email" class="form-control" id="email" placeholder={{employe.email}} disabled>
                                     </div>
                                     <br>
                                    <!-- <form [formGroup]="modifPhotoForm" (ngSubmit)="$event.preventDefaul();modifPhoto()">
                                      <br>
                                      <label for="">Changer de photo</label>
                                      <input type="file" formControlName="photo" id="">
                                      <br><br>
                                   
                                      <a href="javascript:void(0);" class="btn btn-danger" data-bs-dismiss="modal">Modifier </a>

                                    </form> -->

                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Modal end -->

