<br><br><br><br><br><br>
<div class="product-area">
    <div class="container">
        <br>
        <div class="section-title text-center mb-55">
            <h2>Résultats de recherche</h2>
        </div>

        <div class="product-tab-list nav pt-35 pb-60 product-tab-pink2 text-center">

            <!-- <a *ngFor="let categorie of categories" data-bs-toggle="tab" >
                <h4>{{ categorie.nom}}  </h4>
            </a> -->
            <a class="active" href="#product-2" data-bs-toggle="tab">
                <h4>A la mode </h4>
            </a>
        
        </div>
        <div class="tab-content jump">
            <div class="tab-pane" id="product-1">
                <div class="row item-wrapper3">
                   
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 toggle-item-active3">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="assets/img/product/hm18-pro-4.webp" alt="">
                                    <img class="hover-img" src="assets/img/product/hm18-pro-4.webp" alt="">
                                </a>
                                <span class="pink">-20%</span>
                                <div class="product-action-2">
                                  
                                    <a title="Add to cart" href="#" data-bs-toggle="modal" data-bs-target="#detailModal"><i class="fa fa-shopping-cart"></i></a>
                                 
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">Learn With Arif</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                        <span class="old">$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
                </div>
            </div>
            <div class="tab-pane active" id="product-2">
                <div class="row item-wrapper">
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 toggle-item-active">
                        <div class="product-wrap-2 mb-25">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="assets/img/product/hm18-pro-1.webp" alt="">
                                    <img class="hover-img" src="assets/img/product/hm18-pro-1.webp" alt="">
                                </a>
                                <span class="purple">New</span>
                                <div class="product-action-2">
                                    <a title="Add to cart" href="#" data-bs-toggle="modal" data-bs-target="#detailModal"><i class="fa fa-shopping-cart"></i></a>

                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">Service title</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
    </div>

