<div class="slider-banner-area">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-8 col-md-12">
                <div class="slider-area res-mrg-md-mb">
                    <div class="slider-active-3 owl-carousel owl-dot-style">
                        <div class="single-slider-2 slider-height-18 d-flex align-items-center bg-img slider-overly-res" style="background-image:url(assets/img/accueil/bg2.jpg);">
                            <div class="slider-content-7 slider-animated-1 ml-70">
                                <h3 class="animated" ></h3>
                                <h1 class="animated">Flone<br>Faites vous plaisir</h1>
                                
                                <div class="slider-btn-9 btn-hover">
                                    <a class="animated" routerLink="/offresSpeciales">Nos offres spéciales</a>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="single-banner mb-30">
                            <a href="#"><img src="assets/img/accueil/Facial.jpg"  alt=""></a>
                            <div class="banner-content banner-pink">
                                <br>
                                <h3>Services</h3>
                                <h4>À partir de <span>5000 ariary</span></h4>
                                <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
